 

.ServiceContainer:hover {
cursor: pointer;
  }

 
.ServiceName {
    display: flex;
    background: linear-gradient(to bottom, white, black);
    align-items:flex-start;
    justify-content: center;
   border: 3px solid black;
   border-radius: 15px;
   color: rgb(3, 3, 3);
   height:15vh;
   width:40vw;
   margin:0 auto;

}

.BookNow{
  background-color: black;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    padding: 0 10px;
    border-bottom: 3px black solid;
    border-left: 3px black solid;
    border-right:3px black solid;
    
    
}

.BookNow:hover{
    transform: scale(1.10);
    background-color: black;
    color: white;
}

.ServiceContainer a {
 text-align: center;
 margin: 0 auto;
 font-size: 1rem;
 padding:0.5rem;
 color: white;
 text-decoration: none;

  }
  @media (max-width:1000px) {
    .ServiceContainer {
        flex-direction: column;
        border-radius: 0;
     }
     .ServiceContainer Img {
        border-radius: 0;
        width: 40vh;
        height:60vh;
        border: 3px solid black;
      }

  }


  @media (max-width:600px) {
 
         .ServiceContainer {
            flex-direction: column;
            border-radius: 7px;
         }


         .ServiceName{
            height:20vh;
            width:60vw;
         }
      
         .BookNow a{
      font-size: 1rem;
          
      }
  
    
    
    
  }